body {
  width: 1500px; /* définir la largeur fixe de votre page */
  overflow: hidden;
  background-color: rgb(228, 243, 143);
}

html {
  background-color: rgb(66, 105, 81);  /* couleur de l'espace non occupé par votre site */
  display: flex;
  justify-content: center;
}